.btn-block {
    width: 100%;
}

.color {
    background-color: aliceblue;
}

#inrow {
    max-width: 1666px;
    margin: 0;
    position: relative;
    height: 100vh;
    
}

#bg-image {
    height: 100vh;
    margin-top: 0px;
    width: 100%;
}

#con {
    position: relative;
    left: 330px;
    top: -500px;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}

.color2 {
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}
