.statement {
  display: flex;
  font-size: 15px;
  width: 75%;
  left: 150px;
  top: 100px;
  background-color:gainsboro;
  position: relative;
  justify-content: center;
  gap: 7px;
  border-bottom: 3px solid aliceblue;
  border-right: 2px solid lightskyblue;
  border-left: 2px solid lightskyblue;
}

.property {
  padding-right: 50px;
  border-right: 3px solid aliceblue;
}

.nameproperty {
  border-right: 3px solid aliceblue;
  width: 45%;
}

.lastproperty {
  width: 13%;
}

.datatypes {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  top: 105px;
  left: 150px;
}

.data {
  position: relative;
  left: -280px;
}

.value {
  position: relative;
  left: 220px;
}

.account {
  position: relative;
  left: -130px;
}

.name {
  position: relative;
  left: -80px;
}

.text {
  position: relative;
  bottom: -15px;
}

.col-lg-12 {
  margin-bottom: 200px;
}

body {
  background-color: aliceblue;
}

.navbar {
  background-color: lightskyblue;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
}